<div class="mat-elevation-z8">
    <table mat-table [dataSource]="inscripcionesData">

        <!-- nombre completo -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Curso </th>
            <td mat-cell *matCellDef="let element">{{element.course?.nombre }}</td>
        </ng-container>

        <!-- fecha nacimiento -->
        <ng-container matColumnDef="fechaInicio">
            <th mat-header-cell *matHeaderCellDef> Inicio </th>
            <td mat-cell *matCellDef="let element">{{element.course?.fechaInicio | date : "dd/MM/yyyy"}}</td>
        </ng-container>

        <!-- email -->
        <ng-container matColumnDef="fechaFin">
            <th mat-header-cell *matHeaderCellDef> Fin </th>
            <td mat-cell *matCellDef="let element">{{element.course?.fechaFin | date : "dd/MM/yyyy"}}</td>
        </ng-container>

        <!-- delete -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element"> 
                <div class="d-flex g-2">
                    <button mat-icon-button (click)="handleDelete(element)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
</div>