<div class="d-flex flex justify-content-center align-items-center h-100">
    <div class="login-card p-3">
        <div class="row">
            <form [formGroup]="form">
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Usuario" formControlName="username">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" placeholder="Contraseña" formControlName="password">
                </mat-form-field>
            </form>
        </div>
        <div class="d-flex justify-content-center">
            <button mat-stroked-button [disabled]="form.invalid" (click)="handleLogin()">Login</button>
        </div>
        <div class="usuarios-prueba-data d-flex flex-column align-items-center mt-3">
            Usuarios de prueba:
            <div>nicoaru / 1234</div>
            <div>admin / 5678</div>
            <div>anaprada / 1234</div>
        </div>
    </div>
</div>